nav{
    background-color: rgb(37, 32, 68);
    padding: 10px;
    top: 0;
}
*{
    margin: 0;
}
a{
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);

    
}
a:hover{
    background-color: rgb(17, 122, 167);
    color: black;
    padding: 11px;
}
.fa-home{
    margin: 5px;}
 .para2form{
        padding: 30px;
        position: absolute;
        left: 1000px;
        top: -20px;
    }


.unra1{
    position: absolute;
    left: 400px;
    top: 100px;
}